body {
    background-image: url("../images/spring.png");
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* THE NAVIGATION BAR */
.top-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; /* Positions the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 77px;

}

/* Links inside the navbar */
.top-bar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
}

/* Change background on mouse-over */
.top-bar a:hover {
    background: #ddd;
    color: black;
}

/* GRID  */
.container {
    display: grid;
    width: 960px;
    height: 440px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    margin: 120px auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}


/* OTHER: color, font, etc. */

.top-bar h1.name {
    position: absolute;
    left: 360px;
    width: 240px;
    height: 77px;
    color: #f2f2f2;
    text-align: center;
    background-color: #4aaaa5;
    font-size: 30px;
    line-height: 80px;
}

header {
    display: flex;
    height: 77px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

nav {
    float: right;
    height: 77px;
    margin-left: 1080px;
}

main > h1 {
    color: #4aaaa5;
    width: 150px;
    height: 25px;
    text-align: center;
    margin: 20px 0px 0px 19px;
    font-size: 30px;
}

hr {
    display: block;
    height: 10px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 15px auto 10px auto;
    padding: 0;
    width: 94%;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    margin: 16px;
}


/* PROFILE IMAGE */
/* Cropping rectangular profile image & rounding edges */

.image-crop {
    float:left;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    /* border-radius: 50%; */
    margin: 1% 2% 2% 3%;
  }
  
.image-crop img {
    width: auto;
    height: 100%;
    margin-left: -50px;
    margin-bottom: -25px;
  }


  /* html {
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
} */

footer {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    bottom: 0; /* Positions the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 77px;
    border-top: 6px solid #4aaaa5;
}

/* Contact form  */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

