/* Grid Placement */

body {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head head nav"
                         ".   main   ."
                         "foot foot foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr 150px;
}

header {
    grid-area: head;
}

nav {
    grid-area: nav;
    background-color: #8ca0ff;
}


/* Other: color, font, etc. */

body {
    background-image: url(/Users/johnnyzavala/Desktop/bootcamp/Basic-Portfolio/assets/images/spring.png);
    /* background-color: #79cb7e; */
}

header {
    background-color: #ffffff;
}

/* Profile image */

img {
    object-fit: contain;
    height: 100%;
    width: auto;
}

div.image-crop {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}



/* img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    /* border-radius: 50% */
/* } */

/* div.image-crop {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}  */